::selection {
    background-color: #17635f;
    color: #FFF;
}

.UrlBar-AddressField {
    max-width: 60vw;
    margin-left: 35vw;
    transform: translate(-20vw);
}

.UrlFragment-Wrapper--ShouldHighlight {
    --HighlightColor: var(--colorAccentFgFaded);
    --LowlightColor: var(--colorFgFadedMost);
}

.toolbar-extensions {
}

.win #titlebar #pagetitle > span, .linux #titlebar #pagetitle > span {
    text-align: center;
}

.toolbar-mainbar .toolbar-extensions, .toolbar-mainbar {
    color: #555;
}

.tabs-left .vivaldi svg, .tabs-right .vivaldi svg, .tabs-bottom .vivaldi svg, .tabs-off .vivaldi svg {
    display: none;
}

#browser.linux .window-buttongroup {
    display: none;
}

.toolbar-tabbar > .button-toolbar.toggle-trash, .toolbar-tabbar > .toolbar-group > .button-toolbar.toggle-trash, .toolbar-tabbar > .button-toolbar.synced-tabs-button, .toolbar-tabbar > .toolbar-group > .button-toolbar.synced-tabs-button {
    display: none;
}

.button-toolbar.cl3a90ni80006305wsc9vrchu {
    opacity: 0;
}

.tab.active {
    background-color: #555 !important;
}

.tab {
    background-color: #2f2f2f !important;
}

.button-toolbar.newtab {
    display: none;
}

/*
.UrlField  input{
    text-align: center;
    margin-left: -6%;
}

.UrlField span {
    text-align: center;
}
.UrlFragment-Wrapper span {
    text-align:center;
}
*/

