* {
  font-size: 10pt !important;
  border: 0 !important;
  border-radius: 15px !important;
}

main {
  background-color: #000;
  color: #afafaf;
  border-radius: 0px !important;
}

.label, img {
  opacity: 0.6;
}

.label {
  padding-left: 7px;
}
